[Unit]
Description=Node Problem Detector
After=network.target

[Service]
ExecStart={{.NPDBinaryPath}} --apiserver-override="{{.APIServerURL}}?inClusterConfig=false&auth={{.KubeconfigPath}}" --config.system-log-monitor={{.NPDConfigPath}}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
